<div class="section">
  <h3>Remove Z-Hop</h3>
  <div>
    <label>
      <input type="checkbox" data-bind="checked: enabled">
      Enable plugin
    </label>
  </div>
  <div>
    <label>
      Z-hop threshold (mm):
      <input type="number" step="0.01" data-bind="value: z_threshold">
    </label>
  </div>
</div>