<div class="sidebar_plugin_removezhop">
    <h3>Remove Z-Hop Settings</h3>

    <label>
        <input type="checkbox" data-bind="checked: enabled" />
        Enable Plugin
    </label>

    <label>
        Z-Hop Threshold (mm):
        <input type="number" min="0" step="0.05" data-bind="value: z_threshold" />
    </label>
</div>
